@page "/emedbenefit"

@using BenefitsPortal.Domain.Models
@using BenefitsPortal.Domain.Interfaces
@inject IEBenefitsRepository eBenefitsRepository

<h1>Employee Benefits</h1>

<p>Overview of employee benefits.</p>
<p>
    <a href="/employee/add">Create</a>
</p>

@if (eMedBenefits == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Dependents</th>
                <th>Base Employee Cost</th>
                <th>Employee Discount Amount</th>
                <th>Total Employee Cost</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var eb in eMedBenefits)
            {
            <tr>
                <td>@eb.EmployeeName</td>
                <td>@eb.Dependents</td>
                <td>@eb.BaseEmployeeCost</td>
                <td>@eb.EmployeeDiscountAmount</td>
                <td>@eb.TotalEmployeeCost</td>
                <td>
                    <a href='/employee/edit/@eb.EmployeeId'>Edit</a>  |
                    <a href='/employee/delete/@eb.EmployeeId'>Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<MedicalBenefit> eMedBenefits;

    protected override async Task OnInitializedAsync()
    {
        eMedBenefits = await eBenefitsRepository.GetEmployeeMedBenefitsTestAsync();
    }
}
